@{
    ViewData["Title"] = "Verify Email";
}

<div class="text-center">
    <h1 class="display-4">Thanks</h1>
    <p>You will receive email and SMS messages to validate your account.</p>
    <hr/>
    <p></p>
    <p></p>
    <p></p>
    <p style="font-size:-1;">
        Result:
        <br/>
        <code><pre style="text-align: left;">@ViewBag.json</pre></code>
    </p>
</div>
